@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #FFEDFA;
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


#parent {
    width: 800px;
    text-align: center;
    background-color: #FFB8E0;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#parent h2 {
    font-weight: 700;
}

#parent h3 {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.game_box {
    display: flex;
    padding: 20px 100px;
    /* width: 70%; */
    gap: 100px;
    background-color: #FFEDFA;
    justify-content: center;
    border-radius: 5px;
}

.total {
    background-color: #FFEDFA;
    padding: 20px 40px;
    margin-top: 1rem;

    border-radius: 5px;
    margin-bottom: 2rem;
}

.game_buttons button {
    padding: 10px 25px;
    border: none;
    background-color: #EC7FA9;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;

}

.game_buttons button:hover {
    background-color: #BE5985;
}

@media screen and (max-width:600px) {
    #parent {
        width: auto;
    }
}